/* font */
@font-face {
  font-family: "Aclonica";
  src: url("../font/Aclonica-Regular.ttf") format("truetype");
}



/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--first-color-alt);
  padding: 1rem 1.5rem;
  font-family: inherit;
}
svg{
  width: 3rem;
}
/*=============== BASE ===============*/

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body{
  font-family: "Aclonica" , sans-serif;
  background-color: var(--body-color);
  overflow-x: hidden ;
}

/*=============== VARIABLES CSS ===============*/
:root {

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(45, 99%, 55%);
  --first-color-alt: hsl(45, 99%, 48%);
  --second-color: hsl(22, 100%, 8%);
  --white-color: hsl(34, 100%, 96%);
  --title-color: hsl(22, 100%, 8%);
  --text-color: hsl(22, 24%, 32%);
  --text-color-light: hsl(23, 16%, 40%);
  --body-color: hsl(34, 100%, 92%);
  --body-color-alt: hsl(34, 100%, 88%);
  --container-color: hsl(34, 100%, 96%);
  --shadow-small-img: drop-shadow(0 4px 16px hsla(22, 100%, 8%, .2));
  --shadow-big-img: drop-shadow(0 8px 24px hsla(22, 100%, 8%, .2));

}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.section {
  padding: 10rem 0;
}

.section__title {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 6rem;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order{
  order: 1;
}
/*=============== HEADER & NAV ===============*/
.header{

}
.header__nav{
  padding-top: 2rem;
}
.header__logo{
  gap: 0.8rem;
}
.header__logo__svg__bg{
  background-color: var(--first-color);
  width: 4rem;
  height: 4rem;
  position: relative;
}
.header__logo__svg__bg svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__logo__text{
  font-size: 1.6rem;
}
.header__nav__menu{
  width: 60%;
}
.header__menu__list{
  transition: all 200ms ease-in-out;
}
.header__menu__link{
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  position: relative;
}
.header__menu__link::after{
  content: "";
  display: inline-block;
  width: 0rem;
  height: 0.3rem;
  border-radius: 5rem;
  background-color: var(--first-color);
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  transition: width 150ms ease-in-out;
}
.header__menu__link:hover::after {
  width: 4rem;
}

/* Navigation for mobile devices */
.menu__toggle{
  position: relative;
  z-index: 250;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.menu__toggle.open{
  transform: rotate(135deg);
}
.mobile__menu{
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 35rem;
  padding: 6rem 0;
  background-color: var(--body-color-alt);
  flex-direction: column;
  box-shadow: 0 0 10px rgb(0 0 0 / 40%);
  transition: all 300ms ease-in-out;
  z-index: 200;
}
.mobile__menu.open{
  top: 0;
}
/* Show menu */


/* Add shadow header */


/* Active link */


/*=============== HOME ===============*/
.home{

}
.home__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  padding-top: 8rem;
}
.home__content{
  position: relative;
}
.home__title{
  font-size: 8rem;
  color: var(--title-color);
}
.home__description{
  margin: 8rem 0;
  font-size: 1.8rem;
  max-width: 33rem;
  line-height: 2.5rem;
  color: var(--text-color);
}
.home__content button{
  display: inline-block;
  justify-self: center;
}
.home__sticker{
  position: absolute;
  bottom: 2rem;
}
.home__sticker svg{
  width: 6rem;
}
.home__images{
  justify-items: center;
  align-self: center;
  position: relative;
}
.home-burger{
  max-width: 450px;
  position: relative;
  z-index: 3;
}
.home-dish{
  max-width: 500px;
  margin-top: -5rem;
}
.home-lettuce-1{
  width: clamp(36px, 6.5vw, 90px);
  position: absolute;
  top: 0;
  right: calc(20% - 60px);
}
.home-lettuce-2{
  width: clamp(36px, 6.5vw, 90px);
  position: absolute;
  bottom: 0;
  left: calc(20% - 60px);
}
.home-potato-1{
  width: clamp(36px, 6.5vw, 90px);
  position: absolute;
  top: 0;
  left: calc(20% - 60px);
}
.home-potato-2{
  width: clamp(36px, 6.5vw, 90px);
  position: absolute;
  bottom: 0;
  right: calc(20% - 60px);
}
.home-tomato-1{
  width: clamp(36px, 6.5vw, 90px);
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}
.home-tomato-2{
  width: clamp(36px, 6.5vw, 90px);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

/*=============== RECIPE ===============*/
.recipe{
  margin-top: 12rem;
}
.recipe__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  justify-items: center;
}
.recipe__image{

}
.recipe__content{
  width: 60%;
  padding-top: 3rem;
}
.recipe__wrapper{
  margin-bottom: 6rem;
}
.recipe__img{
  width: 10rem;
  background-color: var(--first-color-alt);
  border-radius: 2rem;
  height: 10rem;
}
.recipe__img img{
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}
.recipe__text{

}
.recipe__title{
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.recipe__description{
  max-width: 11rem;
  font-family: cursive;
  font-size: 1.4rem;
  line-height: 110%;
}

/*=============== POPULAR ===============*/


/*=============== DELIVERY ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 1200px){

}
@media screen and (max-width: 992px){
  .home__container{
    grid-template-columns: 1fr;
    row-gap: 8rem;
  }
  .home__content{
    text-align: center;
  }
  .home__description{
    margin: 8rem auto;
  }
  .recipe__container{
    grid-template-columns: 20vw 1fr;
  }
  .recipe__wrapper{
    justify-content: space-evenly;
  }
  .recipe__content{
    justify-self: end;
  }
  .recipe__image img{
    max-width: 40rem;
    width: 60vw;
  }
}
@media screen and (max-width: 768px){
  .home__images{
    text-align: center;
  }
  .home-burger{
    width: 80%;
    margin: 0 auto;
  }
  .home-dish{
    width: 82%;
    margin-left: auto;
    margin-right: auto;
  }
  .section__title{
    font-size: 4rem;
  }
  .recipe__img ,.recipe__img img{
    width: 10vw;
    height: 10vw;
  }
  .recipe__container{
    grid-template-columns: 0 1fr;
  }
}
@media screen and (max-width: 576px){
  .header__nav__menu{
    display: none;
  }
  .home__title{
    font-size: 4rem;
  }
  .home__description{
    font-size: 1.6rem;
    margin: 7rem auto;
  }
  .home__sticker svg{
    width: 3rem;
  }
  .recipe__wrapper{
    margin-bottom: 12vw;
  }
  .recipe__title{
    font-size: 4vw;
  }
  .recipe__description{
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 576px){
  .mobile__menu , .menu__toggle{
    display: none;
  }
}