/* font */
@font-face {
  font-family: "Aclonica";
  src: url("../font/Aclonica-Regular.ttf") format("truetype");
}



/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none;
}
button{
  border: none;
  outline: none;
}
svg{
  width: 3rem;
}
/*=============== BASE ===============*/

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body{
  font-family: "Aclonica" , sans-serif;
  background-color: var(--body-color);
  overflow-x: hidden ;
}

/*=============== VARIABLES CSS ===============*/
:root {

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(45, 99%, 55%);
  --first-color-alt: hsl(45, 99%, 48%);
  --second-color: hsl(22, 100%, 8%);
  --white-color: hsl(34, 100%, 96%);
  --title-color: hsl(22, 100%, 8%);
  --text-color: hsl(22, 24%, 32%);
  --text-color-light: hsl(23, 16%, 40%);
  --body-color: hsl(34, 100%, 92%);
  --body-color-alt: hsl(34, 100%, 88%);
  --container-color: hsl(34, 100%, 96%);
  --shadow-small-img: drop-shadow(0 4px 16px hsla(22, 100%, 8%, .2));
  --shadow-big-img: drop-shadow(0 8px 24px hsla(22, 100%, 8%, .2));

}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
/*.section {*/
/*  padding-block: 5rem 1rem;*/
/*}*/

.section__title {
  text-align: center;
  margin-bottom: 2rem;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*=============== HEADER & NAV ===============*/
.header{

}
.header__nav{
  padding-top: 2rem;
}
.header__logo{
  gap: 0.8rem;
}
.header__logo__svg__bg{
  background-color: var(--first-color);
  width: 4rem;
  height: 4rem;
  position: relative;
}
.header__logo__svg__bg svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__logo__text{
  font-size: 1.6rem;
}
.header__nav__menu{
  width: 60%;
}
.header__menu__list{
  transition: all 200ms ease-in-out;
}
.header__menu__link{
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  position: relative;
}
.header__menu__link::after{
  content: "";
  display: inline-block;
  width: 0rem;
  height: 0.3rem;
  border-radius: 5rem;
  background-color: var(--first-color);
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  transition: width 150ms ease-in-out;
}
.header__menu__link:hover::after {
  width: 4rem;
}

/* Navigation for mobile devices */
.menu__toggle{
  position: relative;
  z-index: 50;
  transition: all 300ms ease-in-out;
}
.menu__toggle.open{
  transform: rotate(135deg);
}
.mobile__menu{
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 35rem;
  padding: 6rem 0;
  background-color: var(--body-color-alt);
  flex-direction: column;
  box-shadow: 0 0 10px rgb(0 0 0 / 40%);
  transition: all 300ms ease-in-out;
}
.mobile__menu.open{
  top: 0;
}
/* Show menu */


/* Add shadow header */


/* Active link */


/*=============== HOME ===============*/


/*=============== BUTTON ===============*/


/*=============== RECIPE ===============*/


/*=============== POPULAR ===============*/


/*=============== DELIVERY ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 1200px){

}
@media screen and (max-width: 992px){

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 576px){
  .header__nav__menu{
    display: none;
  }
}
@media screen and (min-width: 576px){
  .mobile__menu , .menu__toggle{
    display: none;
  }
}